<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pockete_mita.pockete_mitra">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.pockete_mita.Bannerpage" />
        <activity android:name="com.pockete_mita.Commanservices" />
        <activity android:name="com.pockete_mita.Farmerseva" />
        <activity android:name="com.pockete_mita.Adhaar" />
        <activity android:name="com.pockete_mita.Toilet" />
        <activity android:name="com.pockete_mita.Bhamapage" />
        <activity android:name="com.pockete_mita.Camplaint" />

        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="com.pockete_mita.AtalPansion" />
        <activity android:name="com.pockete_mita.Fasalbima"></activity>
    </application>

</manifest>